/* General */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/* Code de l'entête */
header{
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 60px;
    margin: 0px 0px 30px 0px;
}

.seach{
    display: none;
}
nav a:hover {
    color: #0065fc;
    border-bottom: solid #0065fc 4px;
    padding: 21px 0px 0px 0px;
}
a{
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 68px;
    margin: 15px 1px;
}
ul{
    display: flex;
    list-style-type: none; /* Supprime les puces */
}
.nav-list li {
    margin-left: 20px; /* Espacement entre les liens */
}
.fond-image{
    width: 100%;
    max-width: 1200px;
    object-fit: contain;
}
/* main*/

.main-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../asset/dog-cat.jpg');
    background-size: cover;
    background-position: center;
}

.main-background h1 {
    color: black; /* Changez la couleur selon le contraste souhaité */
    font-size: 2.5rem; /* Ajustez la taille du texte selon vos préférences */
    text-align: center;
    z-index: 1;
}


/* footer */

.section-footer {
    display: flex;
    background: black;
    color: white;
    margin-top: 75px;
    box-sizing: border-box;
    max-width: 1440px;
}

.footer-list {
    width: 33%;
    padding: 28px;
}

.footer-list h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.info-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0;
}