<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/asset/css/style.css">
    <title>Mon Centre Animalier</title>
</head>
<body>
    <header>
    <a class="logo-container">
      <img src="../public/asset/logo.jpeg" class="logo" alt="logo_centre">
         </a>
             <nav>
                 <ul class="nav-list">
                     <li><a href="inscription.html" class="lien">Inscription</a></li>
                     <li><a href="" class="lien">Connexion</a></li>
                 </ul>
             </nav> 
    </header>
    <main class="main-background">
        <h1 id="carousel-title">BIENVENU DANS NOTRE BLOC ANIMALIER</h1>
    </main>
 
</body>
<script src="../public/asset/script/script.js"></script>
</html>