<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/asset/css/style.css">
    <title>Mon Centre Animalier</title>
</head>
<body>
    <header>
    <a class="logo-container">
      <img src="../public/asset/logo.jpeg" class="logo" alt="logo_centre">
         </a>
             <nav>
                 <ul class="nav-list">
                     <li><a href="profil.html">Profil</a></li>
                     <li>
                        <form action="../controllers/deconnect.php?action=deconnect" method="post">
                            <button type="submit">Déconnexion</button>
                            </form>
                     </li>

                 </ul>
             </nav> 
    </header>
    <main>
        <h1 id="title">WELCOME</h1>
    </main>
 
</body>
<script src="../public/asset/script/script.js"></script>
</html>