<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/asset/style.css">
    <title>profil</title>
</head>
<body>
    <header>
    <a class="logo-container">
      <img src="../public/asset/logo.jpeg" class="logo" alt="logo_centre">
         </a>
             <nav>
                 <ul class="nav-list">
                     <li><a href="accueil.html" class="lien">Acceuil</a></li>
                 </ul>
             </nav> 
    </header>
    <main>
        <section>
            <h2>Connexion</h2>
            <form method="POST">
                <div>
                    <label>Pseudo:</label><br>
                    <input type="text" id="Pseudo" name="Pseudo" placeholder="pseudo">
                </div>
                <div>
                    <label>Mot de passe:</label><br>
                    <input type="password" id="password" name="password" placeholder="password">
                </div>
                <button type="submit" class="button">se connecter</button>
            </form>
        </section>
        
    </main>
    
    
</body>

</html>