<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/asset/style.css">
    <title>Mon Centre Animalier</title>
</head>
<body>
    <header>
    <a class="logo-container">
      <img src="../public/asset/logo.jpeg" class="logo" alt="logo_centre">
         </a>
             <nav>
                 <ul class="nav-list">
                     <li><a href="#hebergement" class="lien">Inscription</a></li>
                     <li><a href="#activite-marseille" class="lien">Connexion</a></li>
                 </ul>
             </nav> 
    </header>
    <main class="main-background">
        <h1 id="carousel-title">BIENVENU DANS NOTRE BLOC ANIMALIER</h1>
    </main>
    
    <footer class="section-footer">
        <div class="footer-list">
            <h3>A propos</h3>
            <ul class="info-list">
                <li><a href="#">Fonctionnement du site</a></li>
                <li><a href="#">Conditions générales</a></li>
                <li><a href="#">Données et confidentialité</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h3>Charte et Proposition</h3>
            <ul class="info-list">
                <li><a href="#">Charte de qualité</a></li>
                <li><a href="#"> Avis</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h3>Assistance</h3>
            <ul class="info-list">
                <li><a href="#">Centre d'aide</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
    </footer>
</body>
<script src="../public/asset/script/script.js"></script>
</html>