<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Centre Animalier</title>
</head>
<body>
    <header>
    <a class="logo-container">
      <img src="../public/asset/logo.jpeg" class="logo" alt="logo_centre">
         </a>
             <nav>
                 <ul class="nav-list">
                     <li><a href="#hebergement" class="lien">Inscription</a></li>
                     <li><a href="#activite-marseille" class="lien">Connexion</a></li>
                 </ul>
             </nav> 
    </header>
    <main>
        <img src="../public/asset/fond.jpeg" alt="fond-image" class="fond-image">
    </main>
    <footer>
    </footer>
    
</body>
</html>